/* Site Colors:
*/

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background: #ffffff;
}

header {
  /* width: 980px; */
  margin: 0 auto;
  padding: 0;
  text-align: left;
  color: #ffffff;
}

header h1 {
  text-align: center;
}

header h1 a {
  text-decoration: none;
  color: #000;
  letter-spacing: 0.1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3rem;
}

#main {
  height: 500px;
  margin: 0 auto;
  padding: 0;
}

.expanding-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
}

img#super-hero-image {
  width: 100%;
}

ul#menu {
  list-style: none;
  overflow: hidden;
  width: 800px;
  padding: 0;
  margin: 100px auto;
}

ul#menu li {
  float: left;
  margin: 10px;
}

ul#menu li a {
  display: block;
  width: 130px;
  padding: 25px 15px;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
}

ul#menu li a:hover {
  background: #eee;
}

div#page {
  margin: 60px auto;
}

div#page.narrow {
  width: 800px;
  height: 700px;
}

div#page h2 {
  line-height: 20px;
}

div#page p {
  font: 18px/20px "Times New Roman", serif;
}

img.inset {
  float: left;
  width: 150px;
  margin-right: 20px;
}

table#inventory {
  font-size: 1rem;
  margin-top: 30px;
  width: 980px;
  border-collapse: collapse;
}

table#inventory tr th {
  background: #0b61a5;
  color: #fff;
  text-align: left;
}

table#inventory tr td,
table#inventory tr th {
  border: 1px solid #000;
  padding: 5px;
}

.detail dl {
  clear: both;
  height: 1em;
  margin-bottom: 1em;
}

.detail dl dt {
  float: left;
  width: 100px;
  font-weight: bold;
}
.detail dl dd {
  float: left;
}

.sort-button {
  border: none;
  margin: 10px;
  color: white;
  background-color: #0b61a5;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 2px;
}

.sort-button:hover {
  color: gold;
  transition: color 0.5s;
}

.transform-color-case {
  text-transform: capitalize;
}

footer {
  border-radius: 0 !important;
}
