html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

header {
  padding: 2%;
  background: #0b61a5;
  color: white;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}

navigation {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

navigation ul {
  width: 100%;
  list-style: none;
  padding: 10px;
  margin: 0;
}

navigation ul li {
  display: inline;
  margin-right: 1em;
}

#content {
  min-height: 438px;
  padding: 0 30px;
}

/* Actions */

.actions {
  margin-bottom: 1em;
}

/* Lists */

table {
  border-collapse: collapse;
  vertical-align: top;
  font-size: 1.2rem;
}

table.list {
  width: 100%;
}

table.list tr td {
  border: 1px solid #999999;
  padding: 5px;
}

table.list tr th {
  padding: 5px;
  border: 1px solid #0b61a5;
  background: #0b61a5;
  color: white;
  text-align: left;
}

/* Main Menu */

div #main-menu {
  text-align: center;
}

#main-menu ul li {
  text-decoration: none;
  color: #333333;
  font-weight: 700;
  margin: 20px;
  font-size: 1.2rem;
}

#main-menu ul li:hover {
  color: white;
  background-color: #0b61a5;
}

/* Forms */

.form-fields {
  display: inline-block;
  border: 2px solid #0b61a5;
  border-radius: 3px;
  padding: 15px;
  width: 500px;
  border-radius: 3px;
}

dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  float: left;
  font-weight: bold;
  width: 125px;
}

dd {
  float: left;
  margin-left: 1em;
}

#operations {
  clear: both;
  margin: 1em 0 1em 0;
}

/* Errors */

.errors {
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
  margin: 0 15% 1em 15%;
  border-radius: 5px;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}

/* Session Messages */

#message {
  color: #0b61a5;
  background: white;
  border: 2px solid #0b61a5;
  padding: 1em 15px;
  margin: 1em 30px;
  width: 890px;
}

/* Pagination */

.pagination {
  margin: 1em 0;
}

.pagination a,
.pagination span {
  display: inline-block;
  margin: 0 5px;
}

.pagination span.selected {
  font-weight: bold;
  color: #000;
}

.center-text {
  text-align: center;
}

/* Registration Form */

.form {
  text-align: center;
}

.submit {
  margin-top: 10px;
  width: 235px;
  height: 35px;
}

/* Vertical Line */
hr {
  border: none;
  height: 1px;
  background-color: #333;
  width: 55%;
  margin-top: 50px;
}

/* Buttons below the Form  */
#outer {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
}

#outer a {
  text-decoration: none;
  color: #333333;
  font-weight: 700;
  margin: 20px;
}

#outer a:hover {
  color: white;
  background-color: #0b61a5;
}

.inner {
  display: inline-block;
  border: 2px solid #0b61a5;
  border-radius: 3px;
  padding: 5px;
  width: 150px;
}

/* Footer */

.copyright {
  padding: 1rem;
  text-align: center;
  color: white;
}

footer {
  font-weight: 600;
  width: 100%;
  height: 60px;
  background-color: #0b61a5;
}
